.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registerWrapper {
  width: 35%;
  height: 70%;
  display: flex;
}

.registerCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerBox{
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registerForgot{
  text-align: center;
  color: #1775ee;
}