@import '@constantsStyles/constants.scss';

.rightbar{
  width: calc(100% - 40px);
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  position: fixed;
  max-width: 22.5%;
}

.rightbarContainer{
  padding: 20px;
}

.rightbarTitle{
  margin-left: 8px;
  margin-bottom: 10px;
}