@import '@constantsStyles/constants.scss';

.leftbar{
  width: calc(100% - 40px);
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  position: fixed;
  max-width: 22.5%;
}

.leftbarContainer{
  padding: 20px;
}

.leftbarList{
  list-style-type: none;
  font-size: 20px;

  &.li{
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    cursor: pointer;

    &:hover{
      background-color: $mainGray;
    }
  }
}