@import '@constantsStyles/constants.scss';

.mainContainer{
  display: flex;
  background-color: $mainGray;
  min-height: calc(100vh - 80px);
  height: 100%;
}

.Leftbar{
  flex: 3;
}

.Center{
  flex: 6;
}

.Rightbar{
  flex: 3;
}