@import '~normalize.css';
@import 'roboto.css';

body{
  font-family: 'Roboto', sans-serif;
}

.app{
  background-color: green;
  width: 100px;
  height: 100px;
}

.photo{
  background-image: url('../assets/IMG.jpg');
  height: 200px;
  width: 200px;
  background-size: cover;
}